@import './base.css';

#app {
  max-width: 1280px;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0 auto;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
@media (min-width: 1024px) {

}
